/.venv
/Aurelien-Geron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-OReilly-Media-2019 (1).pdf
/Week4_Assignment_Godwin.ipynb
/chap2.ipynb
/chap3.ipynb
/chap4.ipynb
/logs.log
/pipeline.py
/week1.ipynb